click==8.1.7
numpy==1.26.4
pandas==1.5.3
transformers==4.29.2
huggingface_hub<0.26.0
# transformers-embedder==3.0.11
# git+https://github.com/titipata/scipdf_parser
# ollama
# faiss_gpu
scikit-learn<1.5
transformers_embedder
datasets==2.13
bioc
git+https://github.com/dmis-lab/BioSyn.git
torch==2.0.0
